@import "tailwindcss";


/* Reset tracking for Arabic */
[dir="rtl"] h1, 
[dir="rtl"] p, 
[dir="rtl"] span, 
[dir="rtl"] button {
  letter-spacing: 0 !important;

  line-height: 1.4; 
}


[dir="ltr"] .tracking-tighter {
  letter-spacing: -0.05em;
}